
<h2>Subjects</h2>
<br>
<input placeholder = "Subject Name" [(ngModel)]="subjectModel.name" />
<br>
<br>

<button>Add iik</button>
<button (click)="addSubject()">Add</button>
<button (click)="updateSubject()" >Update</button>
<br>
<br>
<!-- <button type="button" (click)="loadSubjects()">Load Table</button> -->
@if (loading) {
  <div>Loading...</div>
}

@if (errorMessage) {
  <div style="color:red">{{ errorMessage }}</div>
}

<!-- <ul>
  @for (s of subjects; track $index) {
    <li>
      {{ s.name }}
      <button (click)="editSubject(s)">Edit</button>
      <button (click)="deleteSubject(s.id)">Delete</button>
    </li>
  }
</ul> -->
<table style="border:1px;">
  <thead>
    <tr>
      <th>Subject Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (s of subjects; track $index) {
      <tr>
        <td>{{ s.name }}</td>
        <td>
          <button (click)="editSubject(s)">Edit</button>
          <button (click)="deleteSubject(s.id)">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>