<h2>student-form works!</h2>
<!-- key concepts
FormControl: This represents a single input field.

FormGroup: This represents the whole form.

FormBuilder: A service that allows clean creation of a form. -->

<div class="container">
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name:</label>
            <input id="name" formControlName="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth:</label>
            <input id="dob" type="date" formControlName="dob" class="form-control">
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input id="age" type="number" formControlName="age" class="form-control">
        </div>
        <div class="form-group">
            <label for="gender">Gender:</label>
            <div class="radio-group">
                <label class="radio-label">
                    <input type="radio" formControlName="gender" value="Male" />
                    <span>Male</span>
                </label>
                <label class="radio-label">
                    <input type="radio" formControlName="gender" value="Female" />
                    <span>Female</span>
                </label>
                <label class="radio-label">
                    <input type="radio" formControlName="gender" value="Other" />
                    <span>Other</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="place">Enter City/Town</label>
            <input id="place" formControlName="place" class="form-control">
        </div>
        <div class="form-group">
            <label for="pincode">Pincode</label>
            <input id="pincode" formControlName="pincode" class="form-control">
        </div>
        <div class="form-group">
            <label for="Address">Address</label>
            <textarea id="Address" placeholder="Enter full address" rows="3" formControlName="address"
                class="form-control"></textarea>
        </div>  
        <button type="submit" class="btn btn-primary">Submit</button> 
    </form> 
</div> 


<table class="table table-striped">
  <thead>   
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">DOB</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">City</th>
      <th scope="col">Pincode</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    @for( student of studentlist; track $index) {
        <tr>
        <th scope="row">{{student.id}}</th>
        <td>{{student.name}}</td>
        <td>{{student.dob}}</td>
        <td>{{student.age}}</td>
        <td>{{student.gender}}</td>
        <td>{{student.place}}</td>
        <td>{{student.pincode}}</td>
        <td>{{student.address}}</td>
        <td><button class="btn btn-warning" (click)="EditStudent(student)">Edit</button></td>
        <td><button class="btn btn-danger" (click)="DeleteStudent(student.id)">Delete</button></td>
        </tr>
    }
  </tbody>
</table>